body {
	background-color: #123144;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.calc {
	width: 420px;
	margin: 20px auto;
	background-color:rgb(49, 9, 28);
	border-radius: 3px;
	padding: 20px;
}

.calc-display input {
	width: 400px;
	height: 60px;
	background-color: #000;
	color: #ffffff;
	font-size: 40px;
	margin: 0 0 20px 0;
}

.calc-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
	width: 400px;
}

.btn {
	cursor: pointer;
	background-color: rgb(33, 89, 121);
	color: #ffffff;
	outline: none;
	border: none;
	font-size: 30px;
	padding: 20px;
	transition: all .5s;
}

.btn-hover-orange:hover {
	background-color: rgb(97, 54, 13);
}
.btn-hover-red:hover {
	background-color: rgb(87, 12, 12);
}
.btn-hover-green:hover {
	background-color: rgb(13, 107, 63);
}

